<div class="nav-wrapper overlay-wrapper">
    <div class="nav-form overlay-form">
        <span class="overlay-header menu">{{ site.data.i18n[site.lang].menu }}</span>
        <a class="btn-close">{{ site.data.i18n[site.lang].close }}</a>
        <div class="results">
            <ul>
                <li><a href="{{ site.paths.home | relative_url }}">{{ site.data.i18n[site.lang].products }}</a></li>
                <li><a href="{{ site.paths.software | relative_url }}">{{ site.data.i18n[site.lang].software }}</a></li>
                <li><a href="{{ site.paths.forum | relative_url }}">{{ site.data.i18n[site.lang].forum }}</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="search-wrapper overlay-wrapper">
    <div class="search-form overlay-form">
        <input type="text" class="overlay-header search-field" placeholder="{{ site.data.i18n[site.lang].search_placeholder }}">
        <a class="btn-close">{{ site.data.i18n[site.lang].close }}</a>
        <ul class="results"></ul>
    </div>
</div>
